.swiper-centered-slides.swiper-container .swiper-slide {
    padding : 5px 10px !important;
    font-size: 11px;
}

.swiper-centered-slides.swiper-container .swiper-slide.swiper-slide-active {
    color: #fff;
    background-color: #176138;
}

.swiper-slide-all{
    margin-left: 50px !important;
}

