/* table costume */
.table-costume{
    border-collapse: collapse;
    width: 100%;
}

.table-costume td, .table-costume th {
    border: 1px solid #ddd;
    padding: 8px;
    word-wrap: break-word;
    word-break: break-all;
}

.table-costume th {
    text-align: center;
    background-color: #fdfdfda6!important;
    color: #000;
    font-size: 14px;
}